{% extends '_base.html' %}

{% load static %}


{% block title %}
    Products
{% endblock title %}

{% block content %}

    {% for product in product_list %}
        
        <div class="product-list">

            <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2></br>
            <img class="product-cover" src= "{{ product.image.url }}">
        
        </div>

    {% endfor %}


{% endblock content %}
