{% extends '_base.html' %}

{% block title %}
    {{ product.title }}
{% endblock title %}

{% block content %}
    
    <div class="product-detail" >
        
        <h2 href="" >{{ product.title }}</h2>
        <img class="product-cover" src= "{{ product.image.url }}">
        <p>Description: {{ product.description }}</p>

    </div>

    
    <div class="product-owner" >

        



    </div>
{% endblock content %}